$color-bright-gray: #37384c;
$color-cadet-blue: #b2b8c3;
$color-contessa: #c97164;
$color-quicksand: #bc978c;
$color-quarter-spanish-white: #f9f1e7;
$color-dark: #151515;


$color-black:#000000;
$color-black-background:#111111;

$margin-desktop:48px;
$margin-mobile:20px;

$margin-overlay-desktop:9rem;
$margin-overlay-mobile:12rem;
$secondary:#293241;
$primary: #3a86ff;
$font-all:"PortonBold";
$font-george-x: "George X";
$font-suisse-bp: "Suisse BP";
$MortendLight: "MortendLight";
$GLUSTER: "GLUSTER";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("loader","overlay","filter","navigation","CanvasRef","content", "canvas", "background");


